@import 'tailwindcss';
@import 'tw-animate-css';

html {
    overscroll-behavior-y: none;
    font-size: 1rem; /* 16px is default */
}
@media (max-width: 768px) {
    html {
        font-size: 1.125rem; /* 18px on small devices */
    }
}
body {
    overscroll-behavior-y: none;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-backdrop: var(--backdrop); /* Sidebar (secondary) background */
    --color-surface: var(--surface); /* Content (primary) background */
    --color-card: var(--card); /* Card background */
    --color-boundary: var(--boundary); /* Border/outline */
    --color-separator: var(--separator); /* Divider/separator */
    --color-content: var(--content); /* Text (primary) */
    --color-muted: var(--muted); /* Text (secondary) */
}

:root {
    --backdrop: #fdfdfd;
    --surface: var(--color-white);
    --card: #fcfcfc;
    --boundary: color-mix(in srgb, var(--color-zinc-200) 50%, transparent);
    --separator: color-mix(in srgb, var(--color-zinc-200) 75%, transparent);
    --content: var(--color-zinc-800);
    --muted: var(--color-zinc-500);
}

.dark {
    --backdrop: var(--color-zinc-900);
    --surface: var(--color-zinc-950);
    --card: var(--color-zinc-900);
    --boundary: color-mix(in srgb, var(--color-white) 10%, transparent);
    --separator: color-mix(in srgb, var(--color-white) 10%, transparent);
    --content: var(--color-zinc-300);
    --muted: var(--color-zinc-400);
}

@layer base {
    button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    }
}
