@import 'tailwindcss';
@import 'tw-animate-css';

html,
body {
    overscroll-behavior-y: none;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background-primary: var(--background-primary);
    --color-background-secondary: var(--background-secondary);
    --color-background-card: var(--background-card);
    --color-border: var(--border);
    --color-foreground-primary: var(--foreground-primary);
    --color-foreground-secondary: var(--foreground-secondary);
    --color-foreground-muted: var(--foreground-muted);
    --color-ring: var(--ring);
    --color-separator: var(--separator);
}

:root {
    --background-primary: var(--color-white);
    --background-secondary: #fdfdfd;
    --background-card: #fcfcfc;
    --border: color-mix(in srgb, var(--color-zinc-200) 50%, transparent);
    --foreground-primary: var(--color-zinc-800);
    --foreground-secondary: var(--color-zinc-500);
    --foreground-muted: var(--color-zinc-300);
    --ring: oklch(0.708 0 0);
    --separator: color-mix(in srgb, var(--color-zinc-200) 75%, transparent);
}

.dark {
    --background-primary: var(--color-zinc-950);
    --background-secondary: var(--color-zinc-900);
    --background-card: var(--color-zinc-900);
    --border: color-mix(in srgb, var(--color-white) 10%, transparent);
    --foreground-primary: var(--color-zinc-300);
    --foreground-secondary: var(--color-zinc-400);
    --foreground-muted: var(--color-zinc-500);
    --ring: oklch(0.556 0 0);
    --separator: color-mix(in srgb, var(--color-white) 10%, transparent);
}

@layer base {
    button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    }
    /* .dpu-action {
        @apply rounded-md outline-offset-2 outline-zinc-400 focus:outline-2 dark:outline-zinc-500;
    } */
}
